fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.4
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
SQLAlchemy==2.0.31
email-validator==2.1.1
psycopg2-binary>=2.9.9
numpy==1.26.4
scikit-learn==1.5.0
spacy==3.7.5
